.roominfo-box {
    .field-label {
        color: #66030b;
    }

    .field-val {
        color: blue;
    }
}

.seat-layout-box {
    .buttongroup-box {
        text-align: right;

        .button {
            border-color: #009688;
            color: #009688;
        }
    }
    .row {
        text-align: center;

        .col {
            display: inline-block;
            text-align: center;
            width: 60px;
            height: 40px;
            line-height: 40px;
            margin: 5px;

            .seat {
                width: 100%;
                height: 100%;
                border-style: solid;
                border-width: 1px;
                border-color: black;
                border-top-left-radius: 20%;
                border-top-right-radius: 20%;
            }
        }
    }
}

.line {
    height: 1px;
    background-color: #bdbdbd;
    margin-top: 10px;
    margin-bottom: 10px;
}
