// 房态颜色
.status0 { // 维修
    background-color: grey;
    color: white;
}
.status1 { // 空房
    background-color: green;
    color: white;
}
.status2 { // 入住
    background-color: #f37b1d;
    color: black;
}
.status3 { // 脏房
    background-color: red;
    color: white;
}
.status4 { // 已打扫
    background-color: #0099ff;
    color: white;
}

// 标题
.title-box {
    text-align: center;

    .title {
        color: #148282;
    }
}
// 副标题
.title0-box {
    text-align: left;
    margin-bottom: 10px;

    .label {
        margin-left: 20px;
    }
    .label0 {
        color: #66030b;
        font-weight: bold;
    }
    .refresh {
        margin-left: 40px;
        color: blue;
        text-decoration: underline solid blue;
        cursor: pointer;
    }
    .refresh0 {
        margin-left: 20px;
        color: blue;
        text-decoration: underline solid blue;
        cursor: pointer;
    }
}

// 房态示意
.status-show-box {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .label {
        display: inline-block;
        height: 30px;
        line-height: 30px;
    }
    .show {
        display: inline-block;
        width: 60px;
        height: 30px;
        line-height: 30px;
        border-radius: 20%;
        text-align: center;
        margin-right: 10px;
    }
}

// 房号节点
.roomno-box {
    display: inline-block;

    .roomno {
        margin: 2px;
        padding: 5px 10px;
        text-align: center;
        width: 200px;
        height: 100px;
    }
    .roomno-border { // 边框
        border: solid 2px #cecece;
    }
    .roomno-border-focus { // 边框 - 焦点
        border: solid 2px yellow;
    }
    .roomno-newBRoom { // 选房
        color: #770000;
        background-color: #80B980;
    }
}