.item-container {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 10px;
}

.item-icon {
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgba(95, 158, 160, 0.47);

    text-align: center;
    line-height: 100px;
}

.item-text {
    display: block;
    width: 100px;
    height: 36px;
    background-color: #e9e9e9;

    text-align: center;
    line-height: 18px;
    font-size: small;
}

.add-container {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 10px;
}

.add-icon {
    width: 100px;
    height: 100px;
    background-color: #bdbdbd;

    text-align: center;
    line-height: 100px;
    color: #878787;
    font-size: 60px;
}

.add-text {
    width: 100px;
    height: 36px;
    background-color: #e9e9e9;

    text-align: center;
    line-height: 36px;
    color: #878787;
}
