.top-button-box {
    margin-bottom: 20px;

    .top-button {
        background-color: #009f95;
        color: #ffffff;
    }
}

.echarts-show-box {
    width: 1200px;
    height: 400px;
    margin-left: 20px;
}