.input-box {
    width: 100%;
    margin-bottom: 10px;
    .field-row {
        margin-bottom: 10px;
        height: 50px;
        
        .label-col {
            text-align: right;
            padding-right: 20px;
            width: 50%;
            
            .label {}
        }
        
        .input-col {
            text-align: left;
            
            .input {
                width: 200px;
                height: 40px;
            }
        }
    }
}

.submit-row {
    text-align: center;
    margin-bottom: 65px;
}

.divider-line {
    margin-bottom: 35px;
}

.more-row {
    text-align: center;
}
