.value-name {
}
.value-name-empty {
    color: #919191;
}

.value-size {
    margin-left: 10px;
    color: blue;
}
.value-size-empty {
    color: #919191;
}

.value-new {
    margin-left: 10px;
    width: 32px;
    height: 32px;
}

.input-name {
    width: 200px;
    margin-bottom: 10px;
}

.input-size {
    width: 300px;
}

.line {
    height: 1px;
    background-color: #6a6a6a;
    margin-top: 10px;
    margin-bottom: 10px;
}