.title {
    text-align: center;
}

.top-button-box {
    margin-left: 10px;
    margin-bottom: 10px;

    .top-button {
        background-color: #009f95;
        color: #ffffff;
    }
}

.label-sum {
    margin-left: 10px;
    color: #0000bb;
}

.bar-sum {
    margin-right: 10px;
}