.checkin-checkout {
    width: 100%;

    .field-row {
        height: 55px;

        .col-label {
            text-align: right;
            padding-right: 20px;

            .label {}
        }

        .col-input {
            .input {
                width: 200px;
            }
        }
    }
}

.line {
    height: 1px;
    background-color: #bdbdbd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rooms-box {
    margin-bottom: 10px;
}

.submit-box {
    text-align: right;
}
