.title {
    margin-left: 10px;
    color: blue;
}

.divider-line {
    margin-bottom: 35px;
}

.input-box {
    width: 100%;
    margin-bottom: 10px;
    .field-row {
        margin-bottom: 10px;
        height: 50px;
        
        .label-col {
            text-align: right;
            padding-right: 20px;
            width: 50%;
        }
        
        .input-col {
            text-align: left;
            .input {
                width: 200px;
                height: 40px;

                :deep(.el-select__wrapper) {
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
    }
}



.submit-row {
    text-align: center;
}
