.item-label {
    text-align: right;
    padding-right: 10px;
    color: #919191;
}
.item-value {
    color: blue;
}

.input-address {
    width: 300px;
}
.input-tel {
    width: 200px;
}
.input-name {
    width: 200px;
}

.line {
    height: 1px;
    background-color: #6a6a6a;
    margin-top: 10px;
    margin-bottom: 10px;
}