.qrcode-box {
    text-align: center;

    .qrcode {
        display: inline-block;
    }

    .amount {
        color: blue;
    }
}

.line {
    height: 1px;
    background-color: #bdbdbd;
    margin-top: 40px;
    margin-bottom: 10px;
}

.submit-box {
    text-align: center;
}