.title {
    text-align: center;
}

.top-button-group {
    .button {
        background-color: #009f95;
        color: #ffffff;
    }
}

.echarts-show-box {
    width: 100%;
    height: 768px;
}

.line {
    height: 1px;
    background-color: #bdbdbd;
    margin-top: 10px;
    margin-bottom: 10px;
}
