.field-row {
    line-height: 60px;
}

.field-label-box {
    text-align: right;
    font-size: 14px;
    padding-right: 20px;
}

.field-value {
    width: 300px;
}

.submit-box {
    text-align: right;
}

.line {
    height: 0.5px;
    background-color: #999999;
    margin-top: 10px;
    margin-bottom: 10px;
}