.value-number {
}
.value-number-empty {
    color: #919191;
}

.input-number {
    width: 200px;
}

.line {
    height: 1px;
    background-color: #6a6a6a;
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-submit {

}