.title-line {
    margin-bottom: 35px;
    
    .title-line-text {
        font-size: large;
        color: #828282;
    }
}

.container {
    width: 600px;
    margin: auto;
    
    .itemClass {
        .itemUrl {
            text-align: center;
        }
    }
}