.value-name {
}
.value-name-empty {
    color: #919191;
}

.value-price {
    margin-left: 10px;
    color: blue;
}

.value-member {
    margin-left: 10px;
    width: 32px;
    height: 32px;
}

.value-hot {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.value-note {
    margin-left: 10px;
}

.input-name {
    width: 200px;
    margin-bottom: 10px;
}

.input-price {
    width: 120px;
}

.input-note {
    width: 200px;
}

.line {
    height: 1px;
    background-color: #6a6a6a;
    margin-top: 10px;
    margin-bottom: 10px;
}