.value-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #a6a6a6;
    border-radius: 5px;
    color: white;
}

.popup-value-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #a6a6a6;
    border-radius: 5px;
}

.input {
    width: 200px;
}

.delete {
    margin-left: 10px;
}

.line {
    height: 1px;
    background-color: #6a6a6a;
    margin-top: 10px;
    margin-bottom: 10px;
}